# Besu Devnet
BESU_RPC_URL=
BESU_NETWORK_ID=
BESU_ADMIN=
BESU_DEPLOYER_PRIVATE_KEY=
BESU_TIMELOCK_ADMIN_PRIVATE_KEY=
BESU_TIMELOCK_ACTOR_PRIVATE_KEY=
BESU_ADMIN_PRIVATE_KEY=
BESU_VERIFIER_URL=

# EBSI Configuration
DEPLOY_EBSI=  # true=deploy EBSI, false=connect to existing

# Required when DEPLOY_EBSI=false
EBSI_PROXY_FACTORY=
EBSI_PROXY_REGISTRY=
EBSI_DID_BOND_REGISTRY= # did:ebsi:bond-registry
EBSI_DID_ENTITY_REGISTRY= # did:ebsi:entity-registry

# Timelock Configuration (optional)
TIMELOCK_MIN_DELAY= # default 1 day
